/*Custom CSS for the Taylored Advert Buddy*/

#based_on_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100px;
  background-color: rgb(26, 20, 20);
  text-align: center;
  padding-bottom: 10px;
}

  #based_on_container img{
    width: 75px;
  }
  #based_on_container img#facebook_picture{
    width: 50px;
  }
